@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
  background: #8e44ad;
  color: #fff;
}

#root {
  margin: 0;
  text-align: center;
  background-color: #f8eded;
  color: black;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-weight: 500;
}

.navbar img {
  filter: invert(100%);
}

.nav-link {
  color: #f8eded;
  margin: auto;
  font-weight: 200;
}

.nav-link:active {
  color: #254e5a;
  font-weight: 200;
}

.navbar-dark .navbar-nav {
  color: white;
  margin-left: auto;
}

.navbar-dark .navbar-brand img {
  filter: brightness(0) invert(1);
}

.navbar-brand {
  margin-right: 10%;
}

.dropdown-menu {
  background-color: white;
}

.dropdown-menu .dropdown-item {
  color: #b43f3f;
  font-weight: lighter;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #b43f3f;
  color: white;
}

/* Home Page */
.hero-section {
  color: #901c1c7d;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#b43f3f, rgba(255, 131, 37, 0.3)),
    url("./assets/fondo.jpeg");
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.hero-section img {
  filter: invert(100%);
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.hero-text h1 {
  font-weight: 400;
  margin-top: 4vh;
  margin-bottom: 3vh;
}

.hero-text h4 {
  font-weight: lighter;
  margin-bottom: 5vh;
  padding: 0 14vw;
}

.cards-home {
  text-align: center;
  padding-top: 120px;
  margin: 8px 12px;
  color: #000000;
}

.cards-title {
  color: #b43f3f;
}

.cards-home-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin: 2% 20%;
}

.card-home {
  background-color: #b43f3f;
  color: #f8eded;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 400px; /* Esto asegura que ambas tarjetas tengan la misma altura mínima */
  flex: 1;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.card-image {
  width: 10vw;
  max-width: 500px;
  height: auto;
  padding: 2vh;
}

.botonRegistro {
  background: #901c1c;
  border: none;
  color: #f8eded;
}

.botonRegistro:hover {
  background: #a53030;
  border: none;
  color: white;
}

/* Carousel */

.carousel-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  margin-top: 15vh;
}

.carousel-div .carousel-item {
  width: 50vw;
  height: 50vh;
}

/* Usuarios */
.usuarios-div{
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.user-card-box {
  max-width: 33vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 8rem;
  margin-bottom: 2vh;
  color: #b43f3f;
  font-weight: 400;
}

.user-card-box img {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  object-fit: cover;
}

.user-card-btns {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  color: #f8eded;
  background-color: #b43f3f;
  border-color: #b43f3f;
  font-weight: 300;
}

.user-card-btns:hover {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
  background-color: #ba4a4a;
  color: white;
  font-weight: 500;
  border-color: #b43f3f;
}

/* Profile */
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  background-color: #b43f3f;
}

.profile-card .card-title {
  color: #f8eded;
  font-size: xx-large;
  font-weight: lighter;
}

.profile-card .list-group-item {
  background-color: #b43f3f;
  border: none;
  color: #f8eded;
  font-weight: lighter;
}

.profile-card .btn {
  background-color: #173b45;
  border-color: #ff8225;
  color: #f8eded;
}

.profile-card .btn:hover {
  background-color: #ff8225;
  border-color: #173b45;
  color: #173b45;
}

.profileDiv {
  display: flex;
  padding: 2vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profileDiv img {
  width: 40%;
}


/* Tablero */
.tablero-box {
  display: flex;
  justify-content: center;
  align-content: center;
}
.crear-tablero-card {
  color: #173b45;
  border-radius: 20px;
  padding: 5% 10%;
  align-items: stretch;
  text-align: left;
}

.crear-tablero-card h3 {
  display: flex;
  justify-content: center;
}
.tablero-card {
  background: #f8eded;
  background-color: #f8eded;
  border-radius: 4px;
  border-color: #173b45;
}

.tablero-card .card {
  background-color: #f8eded;
  border-radius: 4px;
  border-color: transparent;
}

.tableros-titulo {
  color: #173b45;
  font-size: xx-large;
  font-weight: lighter;
}

.tablero-card .card-body .card-title {
  font-weight: 400;
  background-color: #f8eded;
  color: #173b45;
}

.tablero-card .card-body .card-text {
  font-weight: lighter;
  background-color: #f8eded;
  color: #173b45;
}

.tablero-card .btn {
  background-color: #173b45;
  color: #f8eded;
}

.tablero-card .btn:hover {
  background-color: #f8eded;
  color: #173b45;
}

.tableroCardBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tablero-form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-form-control {
  border-color: #b43f3f;
  width: 50%;
}

.custom-form-control:focus {
  border-color: #dadada;
}
.crear-taller-div {
  padding: 12vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crear-taller-div h3,
label {
  color: #b43f3f;
}

.crear-taller-btn {
  background-color: #b43f3f;
  border-color: #f8eded;
}

.crear-taller-btn:hover {
  background-color: #b43f3f;
  border-color: #f8eded;
}

.crear-taller-btn:disabled {
  background-color: #b88888;
  border-color: #f8eded;
}

.tablero-card-titulo {
  color: #b43f3f;
  margin: 5vh 0;
}

.tiempo-pais-edit-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 2vh;
}

.sketch-canvas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sketch-canvas-drawing {
  display: flex;
  flex-direction: column;
}

.sketch-canvas-tools {
  margin-left: 2%;
}

.sketch-canvas-tools-actions {
  display: flex;
  flex-direction: column;
}

/* User */

.user-info-title {
  color: #b43f3f;
  font-weight: 400;
}

.user-info .card-title {
  color: #b43f3f;
  font-weight: 400;
}

.user-info .list-group-item {
  color: #b43f3f;
  font-weight: 300;
  border: none;
}

/* Psicologo */

.psicoList-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card-title {
  color: #b43f3f;
  font-weight: 400;
}

.card-text {
  color: #b43f3f;
  font-weight: 300;
}

.psico-card-box{
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vh 5vw;
  margin-bottom: 2vh;
  color: #b43f3f;
  font-weight: 400;
}

.psicoList-container :focus {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}

.psico-card-box img {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  object-fit: cover;
}

.psico-card-box .card-title {
  color: #b43f3f;
  font-weight: 400;
}

.psico-card-box .card-text {
  color: #b43f3f;
  font-weight: 300;
}

.psico-card-btns {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #f8eded;
  background-color: #b43f3f;
  border-color: #f8eded;
  font-weight: 300;
}

.psico-card-btns:hover {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f8eded;
  color: #b43f3f;
  border-color: #b43f3f;
}

.psico-details {
  margin-top: 18vh;
}

.psico-details-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.psico-details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-color: white;
  text-align: left;
  margin: 2%;
  height: 25%;
  padding: 2% 0;
}

.psico-details-card img {
  align-items: center;
  width: 50%;
  border-radius: 0.5rem;
}

.psico-details-talleres {
  width: 70vw;
  margin: 2%;
}

.taller-psico-details h5 {
  color: #b43f3f;
  font-weight: 300;
  border: none;
}

.taller-psico-details p {
  color: #b43f3f;
  font-weight: 300;
  border: none;
}

.fondo-login {
  background: linear-gradient(#b43f3f, rgba(255, 131, 37, 0.3)),
    url("./assets/fondo.jpeg");
  min-height: 100vh;
  padding: 20vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sign Up Page */
.fondo-signup {
  background: linear-gradient(#b43f3f, rgba(255, 131, 37, 0.3)),
    url("./assets/fondo.jpeg");
  min-height: 100vh;
  padding: 20vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  display: flex;
  flex-direction: column;
}

.form-signup {
  width: 80%;
  max-width: 400px;
  min-width: 280px;
}

.signup-form-control {
  border-color: #f8eded;
  width: 100%;
}

.signup-form-control:focus {
  border-color: #dadada;
  box-shadow: 0 0 0 0.2rem rgba(50, 52, 54, 0.25);
}

.signup-card {
  color: #000000;
  background: #ffffff;
  border-radius: 20px;
  padding: 5% 10%;
  align-items: stretch;
  text-align: left;
}

.signup-card .card-text {
  font-size: smaller;
  margin-top: 2vh;
}

.signup-card .card-link {
  color: #b43f3f;
  margin: 0;
  padding: 0;
}

.signup-card button {
  color: #f8eded;
  background: #b43f3f;
  border-color: #b43f3f;
  font-weight: 600;
}

.signup-card button:hover {
  color: #ffffff;
  background: #f36a6a;
  border-color: #e15b5b;
}

.signup-card .btn:active {
  color: #f8eded;
  background: #173b45;
  border-color: #ff8225;
}

/* About us page*/

.about-page {
  background: linear-gradient(#b43f3f, rgba(255, 131, 37, 0.3)),
    url("./assets/fondo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-top: 20vh;
}

.about-card {
  background: rgba(255, 255, 255, 0.9);
  color: #000000;
  border-radius: 20px;
  padding: 3% 5%;
  width: 70vw;
  text-align: left;
}

.about-card h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.about-card h3 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.about-card p,
.about-card ul {
  margin-bottom: 1rem;
}

.about-card ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.about-card ul li {
  margin-bottom: 0.5rem;
}

/* Talleres */

.tallerList-container {
  margin: 20vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.talleres-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.crear-taller-button {
  background-color: #b43f3f;
  border: 1px solid #f8eded;
}

.crear-taller-button:hover {
  background-color: #f8eded;
  border: 1px solid #b43f3f;
  color: #b43f3f;
}

.taller-details-card {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 5%;
  margin: 2% 0;
  width: 60vw;
}
.taller-details-card .list-group-item h5 {
  font-weight: 300;
}
.taller-details-card .list-group-item {
  color: #b43f3f;
  font-weight: 300;
}

.taller-card-image-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5vh 1.5vw;
}

.taller-card-info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5vh 1.5vw;
}

/* Footer */
.footer {
  padding: 3vh;
  background-color: #b43f3f;
  color: #f8eded;
}

.footer img {
  filter: invert(100%);
  margin-bottom: 1vh;
}

.madeBy a {
  margin-left: 0.5vw;
  font-size: x-large;
  color: #f8eded;
  font-weight: 200;
}

.madeBy a:hover {
  color: #173b45;
}

.taller-details-card button {
  background-color: #b43f3f;
  color: white;
  margin-bottom: 40px;
  margin-left: 32px;
}
