#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profileDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.profileDiv img {
  width: 40%;
  margin-left: 3px;
  
}
.tablero-form-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegúrate de que la tarjeta tenga una altura definida */
}

.custom-form-control {
  border-color: black;
  width: 50%;
}

.custom-form-control:focus {
  border-color: black; 
  box-shadow: 0 0 0 0.2rem rgba(50, 52, 54, 0.25);
}
