#root {
  margin: 5.3% auto;
  text-align: center;
  background-color: #F8EDED;
  color: black;
}

.navbar {
  background-color: #173B45 !important; /* Fondo transparente */
  position: fixed; /* Fija la navbar en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  padding: 20px 20px;
}

.logo{
  filter: invert(100%);
}

.navbar-content {
  background-color: #173B45; /* Fondo transparente */
  padding: 0 1rem;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: #F8EDED; /* Ajusta el color del texto para que sea visible sobre fondos claros */
  margin-left: 500px;
}

.navbar-dark .navbar-brand img {
  filter: brightness(0) invert(1); /*Para hacer que el logo sea visible en fondos oscuros */
}

.navbar-brand {
  margin-right: 10%;
}

.cerrarSesionButton {
  background: none;
  border: none;
  color: #F8EDED;
}

.cerrarSesionButton:hover {
  background: #F8EDED;
  border: none;
  color: #173B45;
}


/* HOME PAGE */
.hero-section{
 width: 100%;
 height: 900px;
 display: flex;
 flex-direction: column;
  background: linear-gradient(#B43F3F, rgba(255, 131, 37, 0.3)),
   url("./assets/fondo.jpeg");
 background-size: cover;
 background-position: center;
 justify-content: center;

}
 .hero-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #F8EDED;
 }

 .hero-text h2{
  margin-top: 2vh;
  margin-bottom: 3vh;
 }

 .hero-text h6{
  margin-bottom: 5vh;
 }


.cards-home {
  text-align: center;
  margin: 40px 12px;
  color: #173B45;
}

.cards-home-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin: 2% 20%;
}

.botonRegistro{
  background: #173B45;
  border: none;
  color: #F8EDED;
}

.botonRegistro:hover{
  background: #F8EDED;
  border: none;
  color: #173B45;
}



/* PROFILE */
.profileDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.profileDiv img {
  width: 40%;
  margin-left: 3px;
  
}

/* TABLERO */
.tablero-form-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegúrate de que la tarjeta tenga una altura definida */
}

.custom-form-control {
  border-color: black;
  width: 50%;
}

.custom-form-control:focus {
  border-color: black; 
  box-shadow: 0 0 0 0.2rem rgba(50, 52, 54, 0.25);
}

/* USER */
.user-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 12px;
}


.user-card img {
  width: 50%;
}
